---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Approche from "../components/Approche.astro";
import Simulateur from "../components/Simulateur.astro";
import Parcours from "../components/Parcours.astro";
import Projects from "../components/Projects.astro";
import KeyFigures from "../components/KeyFigures.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Approche />
    <div class="section-seam" data-reveal aria-hidden="true">
      <span class="seam-line"></span>
      <span class="seam-gem"></span>
      <span class="seam-line"></span>
    </div>
    <Simulateur />
    <Parcours />
    <Projects />
    <KeyFigures />
    <Contact />
  </main>
  <Footer />
</Layout>
